.idea/
.vs/
.vscode/
build/
cmake-build-*/
conan/
prefix/
**/.DS_Store
CMakeLists.txt.user
CMakeUserPresets.json
logs/
compile_commands.json
html
latex
/algos/
Testing/
algos.zip
conan-profile.sh
config.yml
